<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="Redirect to https Rules" />
                <rule name="ReverseProxyInboundRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:5004/{R:1}" />
                </rule>
                <rule name="Redirect to https Rules" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <serverVariables />
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}/v1/" />
                </rule>
            </rules>
        </rewrite>
		<security>
    <requestFiltering>
      <requestLimits maxAllowedContentLength="2147483648" />
    </requestFiltering>
  </security>
    </system.webServer>
</configuration>
